.sapUiCalHead {
    display: none;
}

.calendar {
    display: flex;
}

.sapUiGlobalBackgroundColor {
    background-color: white;
}

.sapUiCalItem {
    border-radius: 0.25rem;
}


/*Special dates*/

.sapUiCalItemType01 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 green;
}

.sapUiCalLegDayType01>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: green;
}

.sapUiCalItemType02 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 blue;
}

.sapUiCalLegDayType02>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: blue;
}

.sapUiCalItemType03 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 red;
}

.sapUiCalLegDayType03>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: red;
}