.sapUiCalHead {
    display: none;
}

.sapUiGlobalBackgroundColor {
    background-color: white;
}

#__data8 {
    width: 100%;
}

.sapMPanelContent:not(.sapMPanelBGTransparent) {
    border: none;
}


/*Special dates*/


/* holiday */

.sapUiCalItemType01 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 green;
}

.sapUiCalLegDayType01>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: green;
}


/* extra non working */

.sapUiCalItemType02 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 blue;
}

.sapUiCalLegDayType02>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: blue;
}


/* shortened working */

.sapUiCalItemType03 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 violet;
}

.sapUiCalLegDayType03>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: violet;
}


/* extra working */

.sapUiCalItemType04 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 red;
}

.sapUiCalLegDayType04>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: red;
}